* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

input {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  outline: none;
  margin: 0 20px;
  width: 400px;
  padding: 10px 0;
  padding-left: 40px;
  font-size: 20px;
}

#click {
  width: auto;
  padding: 12px 30px;
  display: block;
  margin: 20px auto 0;
  cursor: pointer;
}

#click:hover {
  background-color: white;
  color: black;
}